body {
  background-color: black;
  text-align: center;
  font-size: 0;
}

h1 {
  color: white;
  font-family: helvetica;
  font-size: 100px;
  margin: 10px 0;
}

#playground {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  padding: 5px;
  border: 35px solid white;
  position: relative;
}

.piece {
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
}

#food {
  border: 6px solid white;
  border-radius: 6px;
  position: absolute;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {opacity: 0.5;}
}
